<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings>
        <!-- Parametros generales del sistema -->
        <add key="Main.gCOD_APLICACION" value="0"/>                                     <!--Codigo de aplicación asignado por el sistema de seguridad del Centro de Cómputo-->
        <add key="Main.gCOD_SEDE" value="CA"/>                                          <!-- Sede por defecto -->
        <add key="Main.gTituloPagina" value="Instituto Tecnológico de Costa Rica"/>     <!-- Estos valores son asociadoa a variablea estáticas en el evento Application_OnStart -->
        <add key="Main.gSubTituloPagina" value="Nombre de la aplicación"/>              <!-- para facilitar su uso en el código fuente de toda la aplicación. -->
        <!-- URIs para hacer referencias a servicios de uso común, hay muchos otros servicios disponibles que no se incluyen, dependiendo de lo que la aplicación requiera se le indicarán -->
        <add key="wsSeguridad.seguridad" value="http://tec-apps.itcr.ac.cr/wsseguridad/seguridad.asmx"/>
        <add key="wsEmail.email" value="http://tec-apps/wsemail/email.asmx"/>
        <!-- Conectividad con SQL Server -->
        <add key="Main.StringConexion" value="data source=TYRION;initial catalog=BolsaTrabajo;integrated security=SSPI;persist security info=False;packet size=4096" />
        <!-- variantes de conectividad con SQL Server para uso en desarrollo (aut. SQL) y produccion (aut. windows), no se usan, están como ejemplo -->
        <add key="Main.StringConexionDesarrollo" value="data source=tec-develop;initial catalog=DB;integrated security=No;User Id=gvega;Password=xxx;persist security info=False;packet size=4096"/>
        <add key="Main.StringConexionProduccion" value="data source=tec-develop.itcr.ac.cr;initial catalog=DB;integrated security=SSPI;persist security info=False;packet size=4096"/>
    </appSettings>

    <location path="css">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="imagenes">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

    <system.web>
        <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración. Al salir a producción debe colocarse en false.
        -->
        <compilation debug="true" targetFramework="4.0" />
        <pages maintainScrollPositionOnPostBack="true" />

        <authorization>
            <!--<allow users="*"/>-->
            <deny users="?"/>
        </authorization>

        <!--<authentication mode="Forms">
            <forms name="IntegrateAlTrabajoUSER" loginUrl="frmAutenticacion.aspx" protection="All" timeout="30" />
        </authentication> -->

        <globalization
            requestEncoding="utf-8"
            responseEncoding="utf-8"
            culture="es-CR"
            uiCulture="es-CR"/>

        <customErrors mode="RemoteOnly"/>
        <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->

        <trace
            enabled="false"
            requestLimit="10"
            pageOutput="false"
            traceMode="SortByTime"
            localOnly="true"
        />

        <sessionState
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false"
            timeout="20"
        />


        <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <httpHandlers>
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
        </httpHandlers>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <system.serviceModel>
        <bindings>
        </bindings>
        <client>
        </client>
    </system.serviceModel>
</configuration>


